@import url("../../node_modules/normalize.css/normalize.css");
@import url("../../node_modules/material-components-web/dist/material-components-web.min.css");

a {
    text-decoration: none;
}

main {
    min-height: 100vh;
    position: relative;
}

main:before {
    content: "";
    background-image: linear-gradient(#fff, transparent);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.1;
}

.page {
    padding-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 720px;
    text-align: center;
}
